<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>content-services</contextName>
    
    <jmxConfigurator/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%-30thread] %-5level %-40.40logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

		<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="info" />
		
    <logger name="cc.newmercy.contentservices" level="info" />
    
    <!-- Set this to trace if you suspect json typos are preventing your controllers from getting invoked. -->
    <logger name="org.springframework.web.method.HandlerMethod" level="warn" />
    
    <!-- Set this to trace to print transaction management state. -->
    <logger name="org.springframework.transaction.interceptor.TransactionInterceptor" level="warn" />

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
