<div>
    <h1>Sermon Series</h1>
    <nmcc-sermon-series-form sermon-series="sermonSeries" on-save="handleSaveEdits($event)" on-cancel="reload($event)" />
</div>
<div>
    <h1>Sermons</h1>
    <table class="pure-table pure-table-horizontal pure-table-striped" ng-if="sermons.length > 0">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>By</th>
            <th>Date</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sermon in sermons" ng-click="handleEditSermon(sermon.id)">
            <td>{{ $index + 1 }}</td>
            <td>{{ sermon.name }}</td>
            <td>{{ sermon.by }}</td>
            <td>{{ sermon.date }}</td>
            <td>{{ sermon.createdAt }}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <button class="pure-button" ng-click="handleAddSermon($event)">Add Sermon</button>
    </div>
</div>
