<form name="sermon-form" class="pure-form pure-form-aligned" novalidate>
    <fieldset>
        <div class="pure-control-group">
            <label>Name</label>
            <input name="name"
                   type="text"
                   placeholder="(required)"
                   ng-model="sermon.name"
                   required>
        </div>
        <div class="pure-control-group">
            <label>Description</label>
            <textarea name="description" placeholder="(required)" required ng-model="sermon.description"></textarea>
        </div>
        <div class="pure-controls">
            <button class="pure-button pure-button-primary" ng-click="onSave($event)">Save</button>
            <button class="pure-button" ng-click="onCancel($event)">Cancel</button>
        </div>
    </fieldset>
</form>
