<div class="sermon-series-form">
	<form name="sermon-series" class="pure-form pure-form-aligned" novalidate>
		<fieldset>
			<div class="pure-control-group" ng-if="sermonSeries.id">
				<label>Id</label>
				<span>{{ sermonSeries.id }}</span>
			</div>
			<div class="pure-control-group">
				<label>Name</label>
				<input name="name" type="text" data-ng-model="sermonSeries.name" required>
			</div>
			<div class="pure-control-group">
				<label>Description</label>
				<textarea name="description" data-ng-model="sermonSeries.description" required></textarea>
			</div>
			<div class="pure-control-group">
				<label>Image Url</label>
				<input type="text" data-ng-model="sermonSeries.imageUrl" required>
			</div>
			<div class="pure-controls">
				<button class="pure-button pure-button-primary" data-ng-click="onSave($event)">Save</button>
				<button class="pure-button" data-ng-click="onCancel($event)">Cancel</button>
			</div>
		</fieldset>
	</form>
</div>
